


<div class="row">

    <div class="span3">
        {% include 'AppBundle:ModuleUser:nconnect.html.twig' %}
    </div>

    <div class="span9">
        <h2>Modifier Mes informations</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">

                <div class="span4">

                    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


