{% extends '::admin.html.twig' %}

{% block body %}
    <h2>Création d'une Page</h2>
    <div class="span9">
        {{ form(form) }}
    </div>
    <br/><br/>
    <div class="span12">
        <ul class="record_actions">
            <li>
                <a href="{{ path('adminPages') }}">
                    Retour
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
